<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta charset="UTF-8">
	    <title>Index</title>
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	</head>
	<body>
	    <div class="container mt-3">
	        <h2>Accueil</h2>
	        <a href="/categories/list" class="btn btn-primary">Gérer les Catégories</a>
	        <a href="/produits/list" class="btn btn-primary">Gérer les Produits</a>
	    </div>
	</body>
</html>
